.email-form {
  position: fixed;
}

.email-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

.form-content label {
  display: block;
  margin-top: 10px;
}

.form-content input,
.form-content textarea {
  width: 100%;
  padding: 8px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-content button {
  margin-top: 2px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.form-content button:hover {
  background-color: #568648;
}
.close-button{
  width: 40px;
  margin-left: 250px;
  background-color: red;
}
.close-button:hover{
  background-color: #4407e9;
}


.sent{
  position: fixed;
  top: auto;
  bottom: auto;
}

.sent {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sent.show {
  opacity: 1;
}


